<table>
  <tbody>
    <tr>
      <td>
        <table>
          <tbody>
            <tr>
              <td>
                <div>
                    Thanks,
                </div>
                <div>
                    The FS Team
                </div>
                <!-- <span><%= new Date().getFullYear() %></span> -->
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
