<body>
  <table>
    <tr>
      <td>
        <%- include header %>

        <table>
          <tr>
            <td>
              <table>
                <tbody>
                    <tr>
                      <td>
                        <table>
                          <tbody>
                            <tr>
                              <td>
                                <%= data.title %>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <%- body %>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </table>

        <%- include footer %>
      </td>
    </tr>
  </table>
</body>
