<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello React</title>
    <link rel="stylesheet" href=<%= assetsData.cssUrl %> >
</head>

<body>
  <div id="react-view"></div>
  <script src=<%= assetsData.jsUrl %> defer></script>
</body>

</html>